@media (max-width: 84em) {
  #histories {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 12px;
  }
  #result {
    width: 500px;
  }
  button {
    width: 400px;
  }
}
@media (max-width: 59em) {
  #question {
    font-size: 22px;
    height: 150px;
  }
  #histories {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;
  }
  .card {
    margin-bottom: 10px;
  }
  #result {
    width: 500px;
  }
  button {
    width: 400px;
  }
}
@media (max-width: 44em) {
  #histories {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  #result {
    width: 400px;
  }
  button {
    width: 300px;
  }
}
@media (max-width: 34em) {
  #question {
    font-size: 20px;
    height: 150px;
  }
  #display {
    height: 180px;
    font-size: 20px;
    line-height: 0.2;
  }
  #histories {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .card {
    margin-bottom: 10px;
  }
  #result {
    width: 300px;
  }
  button {
    width: 200px;
  }
}
